# kaggle Data Sets

Combining public country statistics from th US Census Bureau with the Human Freedom Index

### United States International Census (Google BigQuery)

* kaggle https://www.kaggle.com/census/census-bureau-international/metadata
* BigQuery https://console.cloud.google.com/bigquery?filter=solution-type:dataset&q=census&id=5d64defd-b1cf-40e6-ae6b-fd3558e15d00&subtask=details&subtaskValue=united-states-census-bureau%2Finternational-census-data&project=bootcamp-1569375678077&folder&organizationId&subtaskIndex=3

### Human Freedom Index (csv)
* kaggle https://www.kaggle.com/gsutters/the-human-freedom-index
* Data Download: https://www.kaggle.com/gsutters/the-human-freedom-index/download
* Background: https://www.cato.org/human-freedom-index-new

Human freedom is "the absence of coercive constraint. It uses 79 distinct indicators of personal and economic freedom in the following areas:
* Rule of Law
* Security and Safety
* Movement
* Religion
* Association, Assembly, and Civil Society
* Expression and Information
* Identity and Relationships
* Size of Government
* Legal System and Property Rights
* Access to Sound Money
* Freedom to Trade Internationally
* Regulation of Credit, Labor, and Business"

ETL Repository https://github.com/Jmaddalena42/ETL_Project

## Obtain Census Dataset

BigQuery Public Datasets https://cloud.google.com/bigquery/public-data/

### Enable Google Cloud services

Google Cloud Python Service Quick Start https://cloud.google.com/bigquery/docs/quickstarts/quickstart-client-libraries#client-libraries-install-python

### Install Dependencies

$ pip install google.cloud

$ pip install --upgrade google-cloud-bigquery

$ pip install --upgrade google-cloud-storage

### Get Service Account API Credentials

Download Service Account Key

https://console.cloud.google.com/apis/credentials?project=bootcamp-1569375678077&folder&organizationId

Enable BigQuery API

https://console.developers.google.com/apis/api/bigquery-json.googleapis.com/overview?project=bootcamp-1569375678077

### Enable Google Credentials for every session

GOOGLE_APPLICATION_CREDENTIALS must be set:

https://console.cloud.google.com/home/dashboard?cloudshell=true&_ga=2.36182944.-145041138.1573320821&pli=1&project=bootcamp-1569375678077&folder&organizationId

### Get Data from BigQuery

kaggle Reference for BigQuery API

https://www.kaggle.com/sohier/beyond-queries-exploring-the-bigquery-api

In [1]:
# Constants

# Google service credentials file
service_account_json = "C:/Users/janin/OneDrive/Documents/GitHub/Bootcamp-7917e2b029b4.json"
# BigQueryPublic data file
PROJECT_ID = 'bigquery-public-data' # All BigQuery public datasets use this project ID
dataset = 'census_bureau_international' # Name of the dataset we're interested in

In [2]:
# Dependencies to be able to get data from Google BigQuery
from google.cloud import bigquery
bigquery_client = bigquery.Client(project=PROJECT_ID)
print(bigquery_client)
from google.cloud import storage
storage_client = storage.Client(project=PROJECT_ID)
print(storage_client)

<google.cloud.bigquery.client.Client object at 0x0000022316465710>
<google.cloud.storage.client.Client object at 0x000002231642E5F8>

In [3]:
# Get dataset reference
census_dataset_ref = bigquery_client.dataset(dataset, project=PROJECT_ID)
census_dataset_ref

DatasetReference('bigquery-public-data', 'census_bureau_international')

In [4]:
# Get dataset
census_dset = bigquery_client.get_dataset(census_dataset_ref)
census_dset

Dataset(DatasetReference('bigquery-public-data', 'census_bureau_international'))

To resolve  403 error, enabled BigQuery API at https://console.developers.google.com/apis/library/bigquery-json.googleapis.com?project=bootcamp-1569375678077&pli=1.

Example error:

Forbidden: 403 GET https://bigquery.googleapis.com/bigquery/v2/projects/bigquery-public-data/datasets/census_bureau_international: BigQuery API has not been used in project 488912422205 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/bigquery-json.googleapis.com/overview?project=488912422205 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.

In [5]:
# List tables in the dataset
print("Tables:")
tables = []
for table in bigquery_client.list_tables(census_dset):
    table_id = table.table_id
    if len(table_id)>0:
        tables.append(table_id)
        print(table_id)

Tables:
age_specific_fertility_rates
birth_death_growth_rates
country_names_area
midyear_population
midyear_population_5yr_age_sex
midyear_population_age_sex
midyear_population_agespecific
mortality_life_expectancy

In [6]:
# Limit tables and get commands
desired_tables  = ['birth_death_growth_rates',
                  'country_names_area',
                  'midyear_population',
                  'mortality_life_expectancy']
print('Tables:')
census_tables = []
for table in desired_tables:
    census_table = bigquery_client.get_table(census_dset.table(table))
    print(census_table.table_id)
    census_tables.append(census_table)
print()
print("Table Commands:")
census_commands = [command for command in dir(census_tables[0]) if not command.startswith('_')]
print(census_commands)
print()
print("Schema Commands:")
schema_commands = [command for command in dir(census_tables[0].schema[0]) if not command.startswith('_')]
print(schema_commands)

Tables:
birth_death_growth_rates
country_names_area
midyear_population
mortality_life_expectancy

Table Commands:
['clustering_fields', 'created', 'dataset_id', 'description', 'encryption_configuration', 'etag', 'expires', 'external_data_configuration', 'friendly_name', 'from_api_repr', 'from_string', 'full_table_id', 'labels', 'location', 'modified', 'num_bytes', 'num_rows', 'partition_expiration', 'partitioning_type', 'path', 'project', 'reference', 'require_partition_filter', 'schema', 'self_link', 'streaming_buffer', 'table_id', 'table_type', 'time_partitioning', 'to_api_repr', 'to_bqstorage', 'view_query', 'view_use_legacy_sql']

Schema Commands:
['description', 'field_type', 'fields', 'from_api_repr', 'is_nullable', 'mode', 'name', 'to_api_repr', 'to_standard_sql']

In [7]:
# Get Table Schemas
print('Schemas')
for census_table in census_tables:
    print()
    print('__________________________________________________________________________________________________')
    print(f"Table: {census_table.table_id}")
    print('__________________________________________________________________________________________________')
    for schema_field in census_table.schema:
        print(f"{schema_field.name} {schema_field.field_type} {schema_field.description}")

Schemas

__________________________________________________________________________________________________
Table: birth_death_growth_rates
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
crude_birth_rate FLOAT Crude birth rate (births per 1,000 population)
crude_death_rate FLOAT Crude death rate (deaths per 1,000 population)
net_migration FLOAT Net migration rate (net number of migrants per 1,000 population)
rate_natural_increase FLOAT Rate of natural increase (percent)
growth_rate FLOAT Growth rate (percent)

__________________________________________________________________________________________________
Table: country_names_area
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
country_area FLOAT Area in square kilometers

__________________________________________________________________________________________________
Table: midyear_population
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
midyear_population INTEGER Both sexes midyear population

__________________________________________________________________________________________________
Table: mortality_life_expectancy
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
infant_mortality FLOAT Both sexes infant mortality rate (infant deaths per 1,000 population)
infant_mortality_male FLOAT Male infant mortality rate (infant deaths per 1,000 population)
infant_mortality_female FLOAT Female infant mortality rate (infant deaths per 1,000 population)
life_expectancy FLOAT Both sexes life expectancy at birth (years)
life_expectancy_male FLOAT Male life expectancy at birth (years)
life_expectancy_female FLOAT Female life expectancy at birth (years)
mortality_rate_under5 FLOAT Both sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_under5_male FLOAT Male sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_under5_female FLOAT Female sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_1to4 FLOAT Both sexes child mortality rate (probability of dying between ages 1 and 4)
mortality_rate_1to4_male FLOAT Male sexes child mortality rate (probability of dying between ages 1 and 4)
mortality_rate_1to4_female FLOAT Female sexes child mortality rate (probability of dying between ages 1 and 4)

In [87]:
# Get data for 2008 to 2016
table_ids = []
countries = []
years = []
columns = []
results = []
for census_table in census_tables:
    schema_cols = [col for col in census_table.schema]
    table_id = census_table.table_id
    for row in bigquery_client.list_rows(census_table, start_index=100, selected_fields=schema_cols):
        row_values = dict(row)
        if "year" in row_values.keys():
            year = row_values["year"]
            country = row_values["country_name"]
            if year>=2008 and year<=2016:
                for col in schema_cols:
                    column = col.name
                    if (column!="year") and (column!="country_name"):
                        table_ids.append(table_id)
                        countries.append(country)
                        years.append(year)
                        columns.append(column)
                        result = row[column]
                        results.append(result)

In [121]:
# Add lists to DataFrame
import pandas as pd
# create DataFrame and add data lists to it
censusdf = pd.DataFrame()
censusdf["table"] = table_ids
censusdf["country"] = countries
censusdf["year"] = years
censusdf["column"] = columns
censusdf["value"] = results
# Save raw census data
censusdf.to_csv("Census_Raw_Data.csv")

In [122]:
# Remove extra country label and table name
censusdf = censusdf.loc[censusdf['column']!='country_code']
censusdf = censusdf.drop(columns=['table'])
# Set index
censusdf.set_index(['country','year','column'],inplace=True)
# Enable groupby
censusdf['value'] = censusdf['value'].astype(float)
# groupby to remove missing values
censusdf = censusdf.groupby(['country','year','column']).mean()
# unstack to pivot columns 
censusdf = censusdf.unstack()
# rename to flatten column names
censusdf = censusdf.value.rename_axis([None], axis=1).reset_index()
censusdf

,country,year,crude_birth_rate,crude_death_rate,growth_rate,infant_mortality,infant_mortality_female,infant_mortality_male,life_expectancy,life_expectancy_female,life_expectancy_male,midyear_population,mortality_rate_1to4,mortality_rate_1to4_female,mortality_rate_1to4_male,mortality_rate_under5,mortality_rate_under5_female,mortality_rate_under5_male,net_migration,rate_natural_increase
0,Afghanistan,2008,40.30,15.64,3.269,130.52,121.80,138.83,48.19,49.41,47.03,27705724.0,72.78,73.89,71.70,193.80,186.69,200.58,8.03,2.466
1,Afghanistan,2009,40.05,15.34,2.282,128.34,119.73,136.54,48.56,49.81,47.38,28483631.0,71.03,72.06,70.03,190.25,183.16,197.01,-1.90,2.471
2,Afghanistan,2010,39.77,15.09,2.143,126.19,117.69,134.29,48.93,50.20,47.72,29120727.0,69.32,70.28,68.38,186.76,179.70,193.49,-3.25,2.468
3,Afghanistan,2011,39.53,14.84,2.183,123.89,115.51,131.88,49.33,50.63,48.09,29757566.0,67.50,68.37,66.65,183.02,175.98,189.74,-2.87,2.469
4,Afghanistan,2012,39.30,14.59,2.220,121.63,113.36,129.51,49.72,51.05,48.45,30419928.0,65.73,66.53,64.95,179.37,172.35,186.05,-2.51,2.471
5,Afghanistan,2013,39.05,14.35,2.254,119.41,111.25,127.18,50.11,51.47,48.81,31108077.0,64.00,64.73,63.30,175.77,168.78,182.43,-2.16,2.470
6,Afghanistan,2014,38.84,14.12,2.289,117.23,109.18,124.89,50.49,51.88,49.17,31822848.0,62.32,62.98,61.68,172.24,165.28,178.87,-1.83,2.472
7,Afghanistan,2015,38.57,13.89,2.317,115.08,107.15,122.64,50.87,52.29,49.52,32564342.0,60.67,61.25,60.11,168.77,161.84,175.38,-1.51,2.468
8,Afghanistan,2016,38.28,13.65,2.343,112.84,105.01,120.29,51.28,52.72,49.90,33332025.0,58.97,59.48,58.47,165.15,158.24,171.73,-1.20,2.463
9,Albania,2008,11.37,5.29,-0.152,13.12,11.94,14.17,77.93,80.68,75.50,2984121.0,2.31,2.26,2.36,15.40,14.17,16.50,-7.60,0.608
10,Albania,2009,11.60,5.67,0.046,14.08,12.57,15.42,77.58,80.40,75.08,2982540.0,2.53,2.42,2.63,16.58,14.96,18.01,-5.48,0.593
11,Albania,2010,11.88,6.04,0.249,15.11,13.23,16.79,77.22,80.11,74.65,2986952.0,2.77,2.60,2.92,17.84,15.80,19.66,-3.35,0.584
12,Albania,2011,12.15,6.15,0.267,14.61,12.79,16.23,77.41,80.30,74.82,2994667.0,2.65,2.48,2.81,17.22,15.24,18.99,-3.34,0.600
13,Albania,2012,12.38,6.25,0.280,14.12,12.36,15.70,77.59,80.49,74.99,3002859.0,2.53,2.37,2.68,16.62,14.70,18.34,-3.33,0.613
14,Albania,2013,12.57,6.36,0.289,13.65,11.94,15.18,77.77,80.67,75.16,3011405.0,2.43,2.27,2.58,16.05,14.18,17.72,-3.32,0.621
15,Albania,2014,12.73,6.47,0.295,13.19,11.54,14.68,77.96,80.86,75.33,3020209.0,2.33,2.16,2.48,15.49,13.68,17.12,-3.31,0.626
16,Albania,2015,12.92,6.58,0.304,12.75,11.15,14.19,78.13,81.04,75.49,3029278.0,2.23,2.07,2.37,14.95,13.20,16.53,-3.30,0.634
17,Albania,2016,13.08,6.69,0.310,12.34,10.80,13.74,78.30,81.21,75.65,3038594.0,2.14,1.98,2.28,14.45,12.76,15.99,-3.29,0.639
18,Algeria,2008,23.60,4.30,1.832,26.72,24.54,28.79,75.01,76.16,73.92,34619419.0,3.90,4.79,3.06,30.52,29.21,31.76,-0.98,1.930
19,Algeria,2009,24.07,4.30,1.881,25.95,23.80,28.00,75.27,76.44,74.17,35268128.0,3.78,4.64,2.96,29.64,28.33,30.88,-0.96,1.977
20,Algeria,2010,24.70,4.30,1.948,25.17,23.05,27.19,75.54,76.72,74.43,35949869.0,3.66,4.50,2.86,28.74,27.45,29.97,-0.92,2.040
21,Algeria,2011,24.59,4.31,1.933,24.27,22.22,26.23,75.76,76.98,74.60,36654293.0,3.51,4.30,2.76,27.70,26.42,28.92,-0.95,2.028
22,Algeria,2012,24.44,4.31,1.920,23.41,21.41,25.30,75.97,77.23,74.78,37367226.0,3.37,4.11,2.67,26.70,25.43,27.90,-0.94,2.013
23,Algeria,2013,24.25,4.31,1.901,22.57,20.64,24.40,76.18,77.47,74.95,38087812.0,3.23,3.92,2.57,25.73,24.48,26.91,-0.93,1.994
24,Algeria,2014,23.99,4.31,1.875,21.76,19.90,23.54,76.39,77.72,75.12,38813722.0,3.09,3.73,2.48,24.79,23.56,25.96,-0.93,1.968
25,Algeria,2015,23.67,4.31,1.844,20.98,19.18,22.70,76.59,77.96,75.29,39542166.0,2.97,3.57,2.40,23.89,22.68,25.05,-0.92,1.936
26,Algeria,2016,22.95,4.31,1.774,20.25,18.50,21.92,76.79,78.19,75.45,40263711.0,2.86,3.42,2.32,23.05,21.86,24.19,-0.90,1.864
27,American Samoa,2008,23.74,4.26,-0.667,10.82,8.28,13.22,74.15,77.06,71.40,56361.0,3.05,3.07,3.04,13.84,11.32,16.22,-26.15,1.948
28,American Samoa,2009,24.57,5.79,-0.756,14.88,11.34,18.22,70.41,73.14,67.84,55961.0,4.44,4.55,4.33,19.25,15.84,22.47,-26.34,1.878
29,American Samoa,2010,23.03,4.45,-0.796,10.98,6.78,14.95,74.60,79.38,70.09,55529.0,2.92,2.35,3.47,13.87,9.11,18.37,-26.54,1.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022,Western Sahara,2014,30.71,8.49,2.889,56.09,50.93,61.04,62.27,64.63,60.00,554795.0,30.12,26.96,33.18,84.52,76.52,92.19,6.67,2.222
2023,Western Sahara,2015,30.24,8.34,2.822,54.70,49.60,59.61,62.64,65.02,60.35,570866.0,28.99,25.89,32.00,82.10,74.21,89.70,6.33,2.190
2024,Western Sahara,2016,29.79,8.20,2.759,53.28,48.24,58.12,63.02,65.43,60.71,587020.0,27.85,24.81,30.81,79.65,71.85,87.14,6.00,2.159
2025,Yemen,2008,36.76,7.72,2.968,60.08,54.97,64.95,62.63,64.68,60.67,21885623.0,21.56,21.28,21.83,80.34,75.08,85.36,0.64,2.904
2026,Yemen,2009,35.84,7.48,2.959,58.40,53.39,63.18,63.00,65.08,61.01,22544016.0,20.72,20.41,21.02,77.91,72.71,82.87,1.23,2.836
2027,Yemen,2010,34.89,7.25,2.860,56.77,51.85,61.46,63.36,65.47,61.35,23209521.0,19.92,19.59,20.24,75.56,70.42,80.46,0.97,2.764
2028,Yemen,2011,33.98,7.03,2.990,55.11,50.29,59.70,63.74,65.87,61.70,23898794.0,19.11,18.75,19.46,73.17,68.10,78.00,2.96,2.695
2029,Yemen,2012,33.03,6.82,2.932,53.50,48.78,57.99,64.11,66.27,62.05,24617071.0,18.34,17.96,18.72,70.86,65.86,75.62,3.12,2.621
2030,Yemen,2013,32.04,6.63,2.845,51.93,47.31,56.33,64.47,66.65,62.39,25338458.0,17.60,17.19,17.98,68.61,63.69,73.30,3.04,2.541
2031,Yemen,2014,31.02,6.45,2.718,50.41,45.88,54.71,64.83,67.04,62.72,26052966.0,16.89,16.48,17.29,66.45,61.60,71.06,2.61,2.457
2032,Yemen,2015,29.98,6.28,2.471,48.93,44.50,53.14,65.18,67.41,63.05,26737317.0,16.21,15.77,16.62,64.34,59.57,68.88,1.00,2.370
2033,Yemen,2016,29.20,6.12,2.374,47.44,43.10,51.57,65.54,67.79,63.39,27392779.0,15.53,15.07,15.96,62.23,57.52,66.71,0.67,2.308
2034,Zambia,2008,44.12,14.68,2.690,76.91,71.13,82.52,49.27,50.79,47.80,12337728.0,63.70,59.41,67.93,135.71,126.31,144.84,-2.54,2.944
2035,Zambia,2009,43.89,14.33,2.752,75.85,70.00,81.52,49.88,51.43,48.38,12678115.0,63.03,58.98,67.01,134.10,124.85,143.07,-2.04,2.956
2036,Zambia,2010,43.67,14.00,2.903,74.80,68.89,80.54,50.47,52.04,48.94,13041876.0,62.36,58.54,66.11,132.50,123.40,141.33,-0.64,2.967
2037,Zambia,2011,43.39,13.71,2.881,72.67,66.81,78.36,50.83,52.42,49.28,13424596.0,59.87,56.07,63.61,128.19,119.13,136.99,-0.87,2.968
2038,Zambia,2012,43.10,13.44,2.888,70.60,64.80,76.23,51.17,52.79,49.61,13817479.0,57.48,53.68,61.22,124.02,115.00,132.78,-0.79,2.966
2039,Zambia,2013,42.79,13.17,2.886,68.58,62.84,74.16,51.51,53.14,49.93,14222233.0,55.18,51.40,58.91,119.98,111.01,128.70,-0.75,2.962
2040,Zambia,2014,42.46,12.92,2.883,66.62,60.94,72.15,51.83,53.48,50.24,14638505.0,52.97,49.22,56.67,116.06,107.16,124.73,-0.72,2.954
2041,Zambia,2015,42.13,12.67,2.877,64.72,59.09,70.19,52.15,53.81,50.54,15066266.0,50.86,47.12,54.53,112.29,103.43,120.89,-0.68,2.946
2042,Zambia,2016,41.79,12.43,2.936,62.87,57.30,68.28,52.45,54.12,50.83,15510711.0,48.83,45.13,52.46,108.63,99.84,117.16,0.00,2.936
2043,Zimbabwe,2008,35.38,13.92,0.681,54.34,48.04,60.45,50.13,51.37,48.92,12508701.0,39.00,38.28,39.71,91.22,84.48,97.76,-14.64,2.146
2044,Zimbabwe,2009,35.68,13.14,0.867,52.04,45.96,57.96,51.64,53.18,50.15,12605986.0,37.57,36.77,38.36,87.66,81.04,94.10,-13.87,2.254
2045,Zimbabwe,2010,35.95,12.59,0.962,49.85,43.96,55.56,53.10,54.91,51.35,12721828.0,36.20,35.32,37.07,84.25,77.73,90.57,-13.74,2.336
2046,Zimbabwe,2011,35.61,12.14,0.986,46.29,40.72,51.71,54.40,56.30,52.56,12846326.0,32.97,31.91,34.02,77.74,71.33,83.97,-13.61,2.347
2047,Zimbabwe,2012,35.27,11.74,1.005,42.99,37.71,48.11,55.64,57.61,53.72,12974879.0,30.04,28.84,31.22,71.74,65.46,77.83,-13.47,2.353
2048,Zimbabwe,2013,34.98,11.38,1.026,39.91,34.92,44.76,56.81,58.84,54.83,13107377.0,27.36,26.05,28.65,66.18,60.06,72.13,-13.34,2.360
2049,Zimbabwe,2014,34.73,11.05,1.159,37.05,32.33,41.64,57.91,59.99,55.89,13251426.0,24.93,23.54,26.28,61.05,55.11,66.83,-12.09,2.368
2050,Zimbabwe,2015,34.64,10.72,1.306,34.39,29.93,38.73,58.95,61.07,56.89,13415796.0,22.70,21.27,24.11,56.31,50.56,61.91,-10.86,2.392
2051,Zimbabwe,2016,34.41,10.47,1.429,33.54,29.18,37.77,59.67,61.81,57.60,13600580.0,21.59,20.18,22.98,54.41,48.77,59.88,-9.65,2.394

In [124]:
# Output reshaped census data
censusdf.to_csv("Census_reshaped.csv")

# Human Freedom Index

In [44]:
# File to Load (Remember to Change These)
freedom_index_csv = "freedom.csv"
freedom_df = pd.read_csv(freedom_index_csv)
# Limit columns
freedom_df = freedom_df[['year',
                         'countries',
                         'pf_rol_civil',
                         'pf_rol_criminal',
                         'pf_ss_homicide',
                         'pf_ss_disappearances_disap',
                         'pf_movement_women',
                         'pf_movement',
                         'pf_religion',
                         'pf_association_political',
                         'pf_expression_killed',
                         'pf_expression_jailed',
                         'pf_expression_influence',
                         'pf_expression',
                         'pf_identity_sex', 
                         'pf_identity_divorce',
                         'ef_legal_protection',
                         'ef_legal_military',
                         'ef_trade_movement',
                         'ef_regulation_credit_ownership']].copy()
# Rename HFI columns for readability
freedom_df = freedom_df.rename(columns={"pf_rol_civil": "Civil justice", "pf_rol_criminal": "Criminal justice", 'pf_ss_homicide': 'Homicide', 'pf_ss_disappearances_disap': 'Disappearances', 'pf_movement_women': 'Womens movement', 'pf_movement': 'Freedom of movement', 'pf_religion': 'Religious freedom', 'pf_association_political': 'Freedom to establish and operate political parties', 'pf_expression_killed': 'Press killed', 'pf_expression_jailed': 'Press jailed', 'pf_expression_influence': 'regulations influence media', 'pf_expression': 'Freedom of expression', 'pf_identity_sex': 'Same-sex ralitionships', 'pf_identity_divorce': 'Divorce', 'ef_legal_protection': 'Protection of property', 'ef_legal_military': 'Military interference in law',
                   'ef_trade_movement': 'Control over movement of people and goods', 'ef_regulation_credit_ownership': 'Ownership of Banks'})
# Reset Index and sort
freedom_df.set_index('year', inplace=True)
freedom_df = freedom_df.sort_values(by =['countries', 'year']).reset_index()
freedom_df

,year,countries,Civil justice,Criminal justice,Homicide,Disappearances,Womens movement,Freedom of movement,Religious freedom,Freedom to establish and operate political parties,Press killed,Press jailed,regulations influence media,Freedom of expression,Same-sex ralitionships,Divorce,Protection of property,Military interference in law,Control over movement of people and goods,Ownership of Banks
0,2008,Albania,5.074785,4.100516,8.756539,10.0,10.0,10.000000,9.195000,NaN,10.000000,10.000000,4.666667,7.666667,10.0,NaN,3.717371,8.333333,2.109925,5.0
1,2009,Albania,5.074785,4.100516,8.852373,10.0,10.0,10.000000,9.791667,NaN,10.000000,10.000000,4.666667,7.666667,10.0,NaN,3.913393,8.333333,3.624133,5.0
2,2010,Albania,5.074785,4.100516,8.272417,10.0,10.0,10.000000,9.416667,NaN,10.000000,10.000000,4.666667,7.604167,10.0,NaN,4.046221,8.333333,3.675338,5.0
3,2011,Albania,5.074785,4.100516,8.059220,10.0,5.0,6.666667,9.135185,8.750000,10.000000,10.000000,4.666667,8.595238,10.0,NaN,3.561092,8.333333,3.423734,5.0
4,2012,Albania,4.900000,3.600000,7.849344,10.0,5.0,6.666667,9.305556,8.750000,10.000000,10.000000,5.000000,8.678571,10.0,NaN,3.075611,8.333333,3.216676,5.0
5,2013,Albania,4.900000,3.600000,8.300775,10.0,5.0,6.666667,9.114444,8.750000,10.000000,10.000000,5.000000,8.678571,10.0,5.0,2.955938,8.333333,5.897336,5.0
6,2014,Albania,5.041787,4.302964,8.397686,10.0,5.0,6.666667,9.855185,10.000000,10.000000,10.000000,5.000000,8.678571,10.0,5.0,3.413995,8.333333,6.208105,5.0
7,2015,Albania,4.802975,4.583263,9.096927,10.0,5.0,6.666667,9.235185,10.000000,10.000000,10.000000,5.000000,8.642857,10.0,5.0,4.228487,8.333333,6.155187,5.0
8,2016,Albania,4.547244,4.666508,8.920429,10.0,5.0,6.666667,9.192593,10.000000,10.000000,10.000000,5.000000,8.607143,10.0,5.0,4.512228,8.333333,6.406138,5.0
9,2008,Algeria,NaN,NaN,9.623645,10.0,5.0,5.000000,4.354074,4.166667,10.000000,10.000000,2.666667,6.702381,0.0,NaN,3.536542,5.000000,1.350171,0.0
10,2009,Algeria,NaN,NaN,9.687586,10.0,5.0,5.000000,4.367963,4.166667,10.000000,10.000000,2.666667,6.630952,0.0,NaN,4.291380,5.000000,1.763028,0.0
11,2010,Algeria,NaN,NaN,9.718697,10.0,5.0,5.000000,4.383704,4.166667,10.000000,10.000000,2.666667,6.702381,0.0,NaN,3.469971,5.000000,1.791064,0.0
12,2011,Algeria,NaN,NaN,9.695814,5.0,0.0,3.333333,4.934630,3.750000,10.000000,10.000000,2.666667,7.416667,0.0,NaN,2.564055,5.000000,1.598997,0.0
13,2012,Algeria,NaN,NaN,9.443111,5.0,0.0,3.333333,5.016111,3.750000,10.000000,10.000000,3.000000,7.464286,0.0,NaN,3.706941,5.000000,1.613343,0.0
14,2013,Algeria,NaN,NaN,9.499199,5.0,5.0,5.000000,5.176481,3.750000,10.000000,10.000000,3.333333,7.547619,0.0,0.0,4.537739,5.000000,1.633012,0.0
15,2014,Algeria,NaN,NaN,9.409920,10.0,5.0,5.000000,5.542037,5.000000,10.000000,9.744333,3.000000,7.427762,0.0,0.0,4.580197,4.166667,1.658987,0.0
16,2015,Algeria,NaN,NaN,9.456254,10.0,5.0,5.000000,5.322593,5.000000,10.000000,10.000000,2.666667,7.416667,0.0,0.0,4.388350,4.166667,1.489857,0.0
17,2016,Algeria,NaN,NaN,9.456254,10.0,5.0,5.000000,4.944815,5.000000,10.000000,10.000000,2.666667,7.380952,0.0,0.0,4.689952,4.166667,1.590362,0.0
18,2008,Angola,NaN,NaN,8.257535,5.0,10.0,3.333333,6.910556,1.250000,10.000000,10.000000,4.000000,7.880952,0.0,NaN,NaN,3.333333,0.384615,5.0
19,2009,Angola,NaN,NaN,8.257535,5.0,10.0,3.333333,7.380185,1.250000,10.000000,10.000000,4.000000,7.845238,0.0,NaN,3.113435,3.333333,1.488665,5.0
20,2010,Angola,NaN,NaN,8.257535,10.0,10.0,3.333333,6.809815,1.250000,1.441701,10.000000,4.000000,6.551195,0.0,NaN,2.853713,3.333333,2.503233,8.0
21,2011,Angola,NaN,NaN,8.257535,5.0,5.0,3.333333,7.023148,2.500000,10.000000,10.000000,3.666667,6.702381,0.0,NaN,2.853713,3.333333,2.503233,8.0
22,2012,Angola,NaN,NaN,8.060260,5.0,5.0,3.333333,6.837963,2.500000,10.000000,10.000000,3.666667,6.666667,0.0,NaN,2.941177,3.333333,1.908587,8.0
23,2013,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,6.760185,2.500000,10.000000,10.000000,3.666667,6.630952,0.0,10.0,2.512364,3.333333,1.788412,8.0
24,2014,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,9.455185,2.500000,10.000000,10.000000,3.666667,6.595238,0.0,10.0,2.512364,3.333333,1.788412,8.0
25,2015,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,8.757037,2.500000,10.000000,10.000000,3.333333,6.547619,0.0,10.0,2.512364,3.333333,2.044823,8.0
26,2016,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,8.786667,2.500000,10.000000,10.000000,2.666667,6.452381,0.0,10.0,2.512364,3.333333,2.044823,8.0
27,2008,Argentina,5.366584,4.343652,6.996849,10.0,10.0,10.000000,8.857407,8.333333,10.000000,10.000000,5.666667,8.630952,10.0,NaN,3.194203,7.500000,4.552939,5.0
28,2009,Argentina,5.366584,4.343652,6.996849,10.0,10.0,10.000000,8.709630,8.333333,10.000000,10.000000,5.666667,8.630952,10.0,NaN,2.754380,7.500000,3.816333,5.0
29,2010,Argentina,5.366584,4.343652,6.996849,10.0,10.0,10.000000,9.138519,8.333333,7.574222,10.000000,6.000000,8.260603,10.0,NaN,2.921977,7.500000,3.592951,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,2014,Vietnam,4.576318,4.970094,9.392643,5.0,5.0,3.333333,5.881481,0.000000,10.000000,4.794781,0.000000,5.184969,10.0,10.0,4.849590,5.000000,2.665282,NaN
1429,2015,Vietnam,4.667068,5.037917,9.392643,5.0,5.0,3.333333,5.703704,0.000000,10.000000,9.358780,0.000000,5.872683,10.0,10.0,4.959259,5.000000,2.306590,NaN
1430,2016,Vietnam,4.448922,4.911257,9.392643,5.0,5.0,3.333333,5.895926,0.000000,10.000000,9.154057,0.000000,5.843437,10.0,10.0,4.993180,5.000000,2.239655,NaN
1431,2008,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,2009,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,2010,"Yemen, Rep.",NaN,NaN,8.137823,5.0,5.0,3.333333,5.833333,7.083333,5.763929,9.576393,1.000000,5.441475,0.0,NaN,3.874178,6.666667,3.514609,NaN
1434,2011,"Yemen, Rep.",NaN,NaN,7.732165,0.0,0.0,1.666667,NaN,NaN,0.000000,9.175333,1.000000,2.981333,0.0,NaN,3.864252,5.000000,3.565054,NaN
1435,2012,"Yemen, Rep.",NaN,NaN,7.405055,0.0,0.0,1.666667,NaN,NaN,10.000000,9.598554,1.666667,5.878805,0.0,NaN,3.715117,5.000000,3.550799,NaN
1436,2013,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,1.666667,NaN,NaN,10.000000,10.000000,2.000000,6.187500,0.0,0.0,3.471400,5.830000,3.777667,NaN
1437,2014,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,0.000000,NaN,NaN,2.379886,10.000000,2.000000,4.157472,0.0,0.0,6.498809,5.833000,3.772903,NaN
1438,2015,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,0.000000,NaN,NaN,0.000000,10.000000,1.333333,3.208333,0.0,0.0,3.352264,4.166667,3.601606,NaN
1439,2016,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,0.000000,NaN,NaN,0.000000,10.000000,1.333333,3.083333,0.0,0.0,3.252801,4.166667,3.493863,NaN
1440,2008,Zambia,4.578003,3.688652,7.878084,10.0,10.0,8.333333,7.714815,4.166667,10.000000,10.000000,3.333333,7.202381,5.0,NaN,5.775199,8.333333,6.795788,5.0
1441,2009,Zambia,4.578003,3.688652,7.586282,10.0,10.0,8.333333,7.558148,4.166667,10.000000,10.000000,3.666667,7.250000,5.0,NaN,5.238373,8.333333,6.579947,5.0
1442,2010,Zambia,4.578003,3.688652,7.649103,10.0,10.0,8.333333,7.205926,4.166667,10.000000,10.000000,3.666667,7.321429,5.0,NaN,5.229566,8.333333,6.772492,5.0
1443,2011,Zambia,4.578003,3.688652,7.580050,10.0,5.0,6.666667,7.711481,7.500000,10.000000,10.000000,3.666667,7.238095,5.0,NaN,5.781742,8.333333,6.649146,5.0
1444,2012,Zambia,4.700000,3.500000,7.591826,10.0,5.0,6.666667,7.909630,7.500000,10.000000,10.000000,4.333333,7.261905,5.0,NaN,6.092469,8.333333,6.587254,5.0
1445,2013,Zambia,4.700000,3.500000,7.711376,10.0,5.0,6.666667,7.744444,7.500000,10.000000,10.000000,4.000000,7.214286,5.0,NaN,6.023462,8.333333,8.731760,5.0
1446,2014,Zambia,4.702030,3.770361,7.887456,10.0,5.0,5.000000,7.690278,NaN,10.000000,10.000000,4.000000,6.937500,0.0,NaN,5.916442,8.333000,9.003175,5.0
1447,2015,Zambia,5.017151,4.158967,7.880823,10.0,5.0,5.000000,7.858333,NaN,10.000000,10.000000,3.666667,6.979167,0.0,NaN,5.798246,8.333333,8.831994,5.0
1448,2016,Zambia,4.891213,4.154905,7.880823,10.0,5.0,5.000000,7.332778,NaN,10.000000,9.397278,3.666667,6.765986,0.0,NaN,5.597120,8.333333,8.707999,5.0
1449,2008,Zimbabwe,3.991582,4.327660,7.981019,0.0,5.0,1.666667,8.214074,2.500000,10.000000,10.000000,0.333333,6.047619,5.0,NaN,1.702773,3.333333,2.175323,8.0
1450,2009,Zimbabwe,3.991582,4.327660,7.981019,0.0,5.0,1.666667,8.341111,2.500000,10.000000,10.000000,1.000000,6.214286,5.0,NaN,1.950982,3.333333,2.687574,8.0
1451,2010,Zimbabwe,3.991582,4.327660,7.981019,0.0,5.0,1.666667,8.042963,2.500000,10.000000,10.000000,1.666667,6.345238,5.0,NaN,2.243496,3.333333,2.458793,8.0
1452,2011,Zimbabwe,3.991582,4.327660,7.332577,5.0,5.0,1.666667,6.735185,2.500000,10.000000,10.000000,1.666667,6.702381,5.0,NaN,2.671381,3.333333,2.375063,8.0
1453,2012,Zimbabwe,4.000000,3.600000,7.332577,5.0,5.0,1.666667,7.061111,2.500000,10.000000,10.000000,1.666667,6.809524,5.0,NaN,2.744480,3.333333,2.302849,8.0
1454,2013,Zimbabwe,4.000000,3.600000,7.332577,5.0,10.0,3.333333,6.980556,2.500000,10.000000,10.000000,2.000000,6.892857,5.0,NaN,2.284086,3.333333,4.087193,8.0
1455,2014,Zimbabwe,4.519194,3.612896,7.332577,5.0,10.0,5.000000,6.288704,2.500000,10.000000,10.000000,2.333333,6.816667,5.0,NaN,2.329075,3.333000,4.081018,8.0
1456,2015,Zimbabwe,4.591776,3.616783,7.332577,5.0,10.0,5.000000,6.376296,2.500000,10.000000,10.000000,2.000000,6.650000,5.0,NaN,2.636667,3.333333,4.114318,8.0
1457,2016,Zimbabwe,4.334427,3.756227,7.332577,5.0,10.0,5.000000,6.427778,2.500000,10.000000,10.000000,2.000000,6.650000,5.0,NaN,2.568250,3.333333,4.118612,8.0

# Postgres DB

Upload transformed data to Postgres DB as tables for joining and further manipulation.

In [118]:
# Dependencies for DB
from sqlalchemy import create_engine
from sqlalchemy import inspect
from sqlalchemy import MetaData
from sqlalchemy import Table
from sqlalchemy import Column
from databaseconfig import user, password

In [119]:
# Import CSVs to Postgres
connection_string = f"postgres:{password}@localhost:5432/ETL_Project"
engine = create_engine(f'postgresql://{connection_string}')
freedom_df.to_sql('hfi', con=engine)
censusdf.to_sql('census', con=engine)
engine.table_names()

['hfi', 'census']

# Changes in Postgres DB

If uppercase names are inserted, they are inserted with quotes areoung the table and field names.  Use alter to rename if needed, for example:

    ALTER TABLE "HFI" RENAME TO hfi;

    ALTER TABLE "Census" RENAME TO census;

Dropped Index on census to avoid duplication with hfi.

Created view happiness_join to join hfi and census:

    SELECT 
        c.country, 
        c.year, 
        h."Civil justice", 
        h."Criminal justice", 
        h."Religious freedom", 
        h."Freedom of expression", 
        h."Disappearances",
        h."Womens movement",
        h."Freedom of movement", 
        h."Freedom to establish and operate political parties", 
        h."Press killed", 
        h."Press jailed", 
        c.growth_rate, 
        c.infant_mortality,
        c.life_expectancy,
        c.midyear_population,
        c.net_migration
    FROM census as c LEFT JOIN hfi as h on c.year = h.year AND c.country = h.countries
    WHERE h.year IS NOT NULL
    ORDER BY 
        c.country,
        c.year
    ;

# Read Data

In [129]:
joindf = pd.read_sql_query('SELECT * FROM happiness_join',con=engine)
joindf.head()

,country,year,Civil justice,Criminal justice,Religious freedom,Freedom of expression,Disappearances,Womens movement,Freedom of movement,Freedom to establish and operate political parties,Press killed,Press jailed,growth_rate,infant_mortality,life_expectancy,midyear_population,net_migration
0,Albania,2008,5.074785,4.100516,9.195000,7.666667,10.0,10.0,10.000000,NaN,10.0,10.0,-0.152,13.12,77.93,2984121.0,-7.60
1,Albania,2009,5.074785,4.100516,9.791667,7.666667,10.0,10.0,10.000000,NaN,10.0,10.0,0.046,14.08,77.58,2982540.0,-5.48
2,Albania,2010,5.074785,4.100516,9.416667,7.604167,10.0,10.0,10.000000,NaN,10.0,10.0,0.249,15.11,77.22,2986952.0,-3.35
3,Albania,2011,5.074785,4.100516,9.135185,8.595238,10.0,5.0,6.666667,8.75,10.0,10.0,0.267,14.61,77.41,2994667.0,-3.34
4,Albania,2012,4.900000,3.600000,9.305556,8.678571,10.0,5.0,6.666667,8.75,10.0,10.0,0.280,14.12,77.59,3002859.0,-3.33