# kaggle Data Sets

Combining public country statistics from th US Census Bureau with the Human Freedom Index

### United States International Census (Google BigQuery)

* kaggle https://www.kaggle.com/census/census-bureau-international/metadata
* BigQuery https://console.cloud.google.com/bigquery?filter=solution-type:dataset&q=census&id=5d64defd-b1cf-40e6-ae6b-fd3558e15d00&subtask=details&subtaskValue=united-states-census-bureau%2Finternational-census-data&project=bootcamp-1569375678077&folder&organizationId&subtaskIndex=3

### Human Freedom Index (csv)
* kaggle https://www.kaggle.com/gsutters/the-human-freedom-index
* Data Download: https://www.kaggle.com/gsutters/the-human-freedom-index/download
* Background: https://www.cato.org/human-freedom-index-new

Human freedom is "the absence of coercive constraint. It uses 79 distinct indicators of personal and economic freedom in the following areas:
* Rule of Law
* Security and Safety
* Movement
* Religion
* Association, Assembly, and Civil Society
* Expression and Information
* Identity and Relationships
* Size of Government
* Legal System and Property Rights
* Access to Sound Money
* Freedom to Trade Internationally
* Regulation of Credit, Labor, and Business"

ETL Repository https://github.com/Jmaddalena42/ETL_Project

## Obtain Census Dataset

BigQuery Public Datasets https://cloud.google.com/bigquery/public-data/

### Enable Google Cloud services

Google Cloud Python Service Quick Start https://cloud.google.com/bigquery/docs/quickstarts/quickstart-client-libraries#client-libraries-install-python

### Install Dependencies

$ pip install google.cloud

$ pip install --upgrade google-cloud-bigquery

$ pip install --upgrade google-cloud-storage

### Get Service Account API Credentials

Download Service Account Key

https://console.cloud.google.com/apis/credentials?project=bootcamp-1569375678077&folder&organizationId

Enable BigQuery API

https://console.developers.google.com/apis/api/bigquery-json.googleapis.com/overview?project=bootcamp-1569375678077

### Enable Google Credentials for every session

GOOGLE_APPLICATION_CREDENTIALS must be set:

https://console.cloud.google.com/home/dashboard?cloudshell=true&_ga=2.36182944.-145041138.1573320821&pli=1&project=bootcamp-1569375678077&folder&organizationId

### Get Data from BigQuery

kaggle Reference for BigQuery API

https://www.kaggle.com/sohier/beyond-queries-exploring-the-bigquery-api

In [1]:
# Constants

# Google service credentials file
service_account_json = "C:/Users/janin/OneDrive/Documents/GitHub/Bootcamp-7917e2b029b4.json"
# BigQueryPublic data file
PROJECT_ID = 'bigquery-public-data' # All BigQuery public datasets use this project ID
dataset = 'census_bureau_international' # Name of the dataset we're interested in

In [2]:
# Dependencies to be able to get data from Google BigQuery
from google.cloud import bigquery
bigquery_client = bigquery.Client(project=PROJECT_ID)
print(bigquery_client)
from google.cloud import storage
storage_client = storage.Client(project=PROJECT_ID)
print(storage_client)

<google.cloud.bigquery.client.Client object at 0x0000022316465710>
<google.cloud.storage.client.Client object at 0x000002231642E5F8>

In [3]:
# Get dataset reference
census_dataset_ref = bigquery_client.dataset(dataset, project=PROJECT_ID)
census_dataset_ref

DatasetReference('bigquery-public-data', 'census_bureau_international')

In [4]:
# Get dataset
census_dset = bigquery_client.get_dataset(census_dataset_ref)
census_dset

Dataset(DatasetReference('bigquery-public-data', 'census_bureau_international'))

To resolve  403 error, enabled BigQuery API at https://console.developers.google.com/apis/library/bigquery-json.googleapis.com?project=bootcamp-1569375678077&pli=1.

Example error:

Forbidden: 403 GET https://bigquery.googleapis.com/bigquery/v2/projects/bigquery-public-data/datasets/census_bureau_international: BigQuery API has not been used in project 488912422205 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/bigquery-json.googleapis.com/overview?project=488912422205 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.

In [5]:
# List tables in the dataset
print("Tables:")
tables = []
for table in bigquery_client.list_tables(census_dset):
    table_id = table.table_id
    if len(table_id)>0:
        tables.append(table_id)
        print(table_id)

Tables:
age_specific_fertility_rates
birth_death_growth_rates
country_names_area
midyear_population
midyear_population_5yr_age_sex
midyear_population_age_sex
midyear_population_agespecific
mortality_life_expectancy

In [6]:
# Limit tables and get commands
desired_tables  = ['birth_death_growth_rates',
                  'country_names_area',
                  'midyear_population',
                  'mortality_life_expectancy']
print('Tables:')
census_tables = []
for table in desired_tables:
    census_table = bigquery_client.get_table(census_dset.table(table))
    print(census_table.table_id)
    census_tables.append(census_table)
print()
print("Table Commands:")
census_commands = [command for command in dir(census_tables[0]) if not command.startswith('_')]
print(census_commands)
print()
print("Schema Commands:")
schema_commands = [command for command in dir(census_tables[0].schema[0]) if not command.startswith('_')]
print(schema_commands)

Tables:
birth_death_growth_rates
country_names_area
midyear_population
mortality_life_expectancy

Table Commands:
['clustering_fields', 'created', 'dataset_id', 'description', 'encryption_configuration', 'etag', 'expires', 'external_data_configuration', 'friendly_name', 'from_api_repr', 'from_string', 'full_table_id', 'labels', 'location', 'modified', 'num_bytes', 'num_rows', 'partition_expiration', 'partitioning_type', 'path', 'project', 'reference', 'require_partition_filter', 'schema', 'self_link', 'streaming_buffer', 'table_id', 'table_type', 'time_partitioning', 'to_api_repr', 'to_bqstorage', 'view_query', 'view_use_legacy_sql']

Schema Commands:
['description', 'field_type', 'fields', 'from_api_repr', 'is_nullable', 'mode', 'name', 'to_api_repr', 'to_standard_sql']

In [7]:
# Get Table Schemas
print('Schemas')
for census_table in census_tables:
    print()
    print('__________________________________________________________________________________________________')
    print(f"Table: {census_table.table_id}")
    print('__________________________________________________________________________________________________')
    for schema_field in census_table.schema:
        print(f"{schema_field.name} {schema_field.field_type} {schema_field.description}")

Schemas

__________________________________________________________________________________________________
Table: birth_death_growth_rates
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
crude_birth_rate FLOAT Crude birth rate (births per 1,000 population)
crude_death_rate FLOAT Crude death rate (deaths per 1,000 population)
net_migration FLOAT Net migration rate (net number of migrants per 1,000 population)
rate_natural_increase FLOAT Rate of natural increase (percent)
growth_rate FLOAT Growth rate (percent)

__________________________________________________________________________________________________
Table: country_names_area
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
country_area FLOAT Area in square kilometers

__________________________________________________________________________________________________
Table: midyear_population
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
midyear_population INTEGER Both sexes midyear population

__________________________________________________________________________________________________
Table: mortality_life_expectancy
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
infant_mortality FLOAT Both sexes infant mortality rate (infant deaths per 1,000 population)
infant_mortality_male FLOAT Male infant mortality rate (infant deaths per 1,000 population)
infant_mortality_female FLOAT Female infant mortality rate (infant deaths per 1,000 population)
life_expectancy FLOAT Both sexes life expectancy at birth (years)
life_expectancy_male FLOAT Male life expectancy at birth (years)
life_expectancy_female FLOAT Female life expectancy at birth (years)
mortality_rate_under5 FLOAT Both sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_under5_male FLOAT Male sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_under5_female FLOAT Female sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_1to4 FLOAT Both sexes child mortality rate (probability of dying between ages 1 and 4)
mortality_rate_1to4_male FLOAT Male sexes child mortality rate (probability of dying between ages 1 and 4)
mortality_rate_1to4_female FLOAT Female sexes child mortality rate (probability of dying between ages 1 and 4)

In [8]:
# Get data for 2008 to 2016
table_ids = []
countries = []
years = []
columns = []
results = []
for census_table in census_tables:
    schema_cols = [col for col in census_table.schema]
    table_id = census_table.table_id
    for row in bigquery_client.list_rows(census_table, start_index=100, selected_fields=schema_cols):
        row_values = dict(row)
        if "year" in row_values.keys():
            year = row_values["year"]
            country = row_values["country_name"]
            if year>=2008 and year<=2016:
                for col in schema_cols:
                    column = col.name
                    if (column!="year") and (column!="country_name"):
                        table_ids.append(table_id)
                        countries.append(country)
                        years.append(year)
                        columns.append(column)
                        result = row[column]
                        results.append(result)

In [41]:
# Add lists to DataFrame
import pandas as pd
censusdf = pd.DataFrame()
censusdf["Table"] = table_ids
censusdf["Country"] = countries
censusdf["Year"] = years
censusdf["Column"] = columns
censusdf["Value"] = results
censusdf.to_csv("Census_Raw_Data.csv")
censusdf.set_index(['Table','Country','Year','Column'],inplace=True)
censusdf = censusdf.unstack()
censusdf = censusdf.Value.rename_axis([None], axis=1).reset_index()
censusdf

,Table,Country,Year,country_code,crude_birth_rate,crude_death_rate,growth_rate,infant_mortality,infant_mortality_female,infant_mortality_male,...,life_expectancy_male,midyear_population,mortality_rate_1to4,mortality_rate_1to4_female,mortality_rate_1to4_male,mortality_rate_under5,mortality_rate_under5_female,mortality_rate_under5_male,net_migration,rate_natural_increase
0,birth_death_growth_rates,Afghanistan,2008,AF,40.3,15.64,3.269,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.03,2.466
1,birth_death_growth_rates,Afghanistan,2009,AF,40.05,15.34,2.282,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.9,2.471
2,birth_death_growth_rates,Afghanistan,2010,AF,39.77,15.09,2.143,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.25,2.468
3,birth_death_growth_rates,Afghanistan,2011,AF,39.53,14.84,2.183,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.87,2.469
4,birth_death_growth_rates,Afghanistan,2012,AF,39.3,14.59,2.22,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.51,2.471
5,birth_death_growth_rates,Afghanistan,2013,AF,39.05,14.35,2.254,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-2.16,2.47
6,birth_death_growth_rates,Afghanistan,2014,AF,38.84,14.12,2.289,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.83,2.472
7,birth_death_growth_rates,Afghanistan,2015,AF,38.57,13.89,2.317,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.51,2.468
8,birth_death_growth_rates,Afghanistan,2016,AF,38.28,13.65,2.343,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-1.2,2.463
9,birth_death_growth_rates,Albania,2008,AL,11.37,5.29,-0.152,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-7.6,0.608
10,birth_death_growth_rates,Albania,2009,AL,11.6,5.67,0.046,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-5.48,0.593
11,birth_death_growth_rates,Albania,2010,AL,11.88,6.04,0.249,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.35,0.584
12,birth_death_growth_rates,Albania,2011,AL,12.15,6.15,0.267,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.34,0.6
13,birth_death_growth_rates,Albania,2012,AL,12.38,6.25,0.28,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.33,0.613
14,birth_death_growth_rates,Albania,2013,AL,12.57,6.36,0.289,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.32,0.621
15,birth_death_growth_rates,Albania,2014,AL,12.73,6.47,0.295,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.31,0.626
16,birth_death_growth_rates,Albania,2015,AL,12.92,6.58,0.304,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.3,0.634
17,birth_death_growth_rates,Albania,2016,AL,13.08,6.69,0.31,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-3.29,0.639
18,birth_death_growth_rates,Algeria,2008,AG,23.6,4.3,1.832,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.98,1.93
19,birth_death_growth_rates,Algeria,2009,AG,24.07,4.3,1.881,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.96,1.977
20,birth_death_growth_rates,Algeria,2010,AG,24.7,4.3,1.948,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.92,2.04
21,birth_death_growth_rates,Algeria,2011,AG,24.59,4.31,1.933,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.95,2.028
22,birth_death_growth_rates,Algeria,2012,AG,24.44,4.31,1.92,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.94,2.013
23,birth_death_growth_rates,Algeria,2013,AG,24.25,4.31,1.901,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.93,1.994
24,birth_death_growth_rates,Algeria,2014,AG,23.99,4.31,1.875,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.93,1.968
25,birth_death_growth_rates,Algeria,2015,AG,23.67,4.31,1.844,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.92,1.936
26,birth_death_growth_rates,Algeria,2016,AG,22.95,4.31,1.774,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.9,1.864
27,birth_death_growth_rates,American Samoa,2008,AQ,23.74,4.26,-0.667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-26.15,1.948
28,birth_death_growth_rates,American Samoa,2009,AQ,24.57,5.79,-0.756,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-26.34,1.878
29,birth_death_growth_rates,American Samoa,2010,AQ,23.03,4.45,-0.796,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-26.54,1.858
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6068,mortality_life_expectancy,Western Sahara,2014,WI,NaN,NaN,NaN,56.09,50.93,61.04,...,60,NaN,30.12,26.96,33.18,84.52,76.52,92.19,NaN,NaN
6069,mortality_life_expectancy,Western Sahara,2015,WI,NaN,NaN,NaN,54.7,49.6,59.61,...,60.35,NaN,28.99,25.89,32,82.1,74.21,89.7,NaN,NaN
6070,mortality_life_expectancy,Western Sahara,2016,WI,NaN,NaN,NaN,53.28,48.24,58.12,...,60.71,NaN,27.85,24.81,30.81,79.65,71.85,87.14,NaN,NaN
6071,mortality_life_expectancy,Yemen,2008,YM,NaN,NaN,NaN,60.08,54.97,64.95,...,60.67,NaN,21.56,21.28,21.83,80.34,75.08,85.36,NaN,NaN
6072,mortality_life_expectancy,Yemen,2009,YM,NaN,NaN,NaN,58.4,53.39,63.18,...,61.01,NaN,20.72,20.41,21.02,77.91,72.71,82.87,NaN,NaN
6073,mortality_life_expectancy,Yemen,2010,YM,NaN,NaN,NaN,56.77,51.85,61.46,...,61.35,NaN,19.92,19.59,20.24,75.56,70.42,80.46,NaN,NaN
6074,mortality_life_expectancy,Yemen,2011,YM,NaN,NaN,NaN,55.11,50.29,59.7,...,61.7,NaN,19.11,18.75,19.46,73.17,68.1,78,NaN,NaN
6075,mortality_life_expectancy,Yemen,2012,YM,NaN,NaN,NaN,53.5,48.78,57.99,...,62.05,NaN,18.34,17.96,18.72,70.86,65.86,75.62,NaN,NaN
6076,mortality_life_expectancy,Yemen,2013,YM,NaN,NaN,NaN,51.93,47.31,56.33,...,62.39,NaN,17.6,17.19,17.98,68.61,63.69,73.3,NaN,NaN
6077,mortality_life_expectancy,Yemen,2014,YM,NaN,NaN,NaN,50.41,45.88,54.71,...,62.72,NaN,16.89,16.48,17.29,66.45,61.6,71.06,NaN,NaN
6078,mortality_life_expectancy,Yemen,2015,YM,NaN,NaN,NaN,48.93,44.5,53.14,...,63.05,NaN,16.21,15.77,16.62,64.34,59.57,68.88,NaN,NaN
6079,mortality_life_expectancy,Yemen,2016,YM,NaN,NaN,NaN,47.44,43.1,51.57,...,63.39,NaN,15.53,15.07,15.96,62.23,57.52,66.71,NaN,NaN
6080,mortality_life_expectancy,Zambia,2008,ZA,NaN,NaN,NaN,76.91,71.13,82.52,...,47.8,NaN,63.7,59.41,67.93,135.71,126.31,144.84,NaN,NaN
6081,mortality_life_expectancy,Zambia,2009,ZA,NaN,NaN,NaN,75.85,70,81.52,...,48.38,NaN,63.03,58.98,67.01,134.1,124.85,143.07,NaN,NaN
6082,mortality_life_expectancy,Zambia,2010,ZA,NaN,NaN,NaN,74.8,68.89,80.54,...,48.94,NaN,62.36,58.54,66.11,132.5,123.4,141.33,NaN,NaN
6083,mortality_life_expectancy,Zambia,2011,ZA,NaN,NaN,NaN,72.67,66.81,78.36,...,49.28,NaN,59.87,56.07,63.61,128.19,119.13,136.99,NaN,NaN
6084,mortality_life_expectancy,Zambia,2012,ZA,NaN,NaN,NaN,70.6,64.8,76.23,...,49.61,NaN,57.48,53.68,61.22,124.02,115,132.78,NaN,NaN
6085,mortality_life_expectancy,Zambia,2013,ZA,NaN,NaN,NaN,68.58,62.84,74.16,...,49.93,NaN,55.18,51.4,58.91,119.98,111.01,128.7,NaN,NaN
6086,mortality_life_expectancy,Zambia,2014,ZA,NaN,NaN,NaN,66.62,60.94,72.15,...,50.24,NaN,52.97,49.22,56.67,116.06,107.16,124.73,NaN,NaN
6087,mortality_life_expectancy,Zambia,2015,ZA,NaN,NaN,NaN,64.72,59.09,70.19,...,50.54,NaN,50.86,47.12,54.53,112.29,103.43,120.89,NaN,NaN
6088,mortality_life_expectancy,Zambia,2016,ZA,NaN,NaN,NaN,62.87,57.3,68.28,...,50.83,NaN,48.83,45.13,52.46,108.63,99.84,117.16,NaN,NaN
6089,mortality_life_expectancy,Zimbabwe,2008,ZI,NaN,NaN,NaN,54.34,48.04,60.45,...,48.92,NaN,39,38.28,39.71,91.22,84.48,97.76,NaN,NaN
6090,mortality_life_expectancy,Zimbabwe,2009,ZI,NaN,NaN,NaN,52.04,45.96,57.96,...,50.15,NaN,37.57,36.77,38.36,87.66,81.04,94.1,NaN,NaN
6091,mortality_life_expectancy,Zimbabwe,2010,ZI,NaN,NaN,NaN,49.85,43.96,55.56,...,51.35,NaN,36.2,35.32,37.07,84.25,77.73,90.57,NaN,NaN
6092,mortality_life_expectancy,Zimbabwe,2011,ZI,NaN,NaN,NaN,46.29,40.72,51.71,...,52.56,NaN,32.97,31.91,34.02,77.74,71.33,83.97,NaN,NaN
6093,mortality_life_expectancy,Zimbabwe,2012,ZI,NaN,NaN,NaN,42.99,37.71,48.11,...,53.72,NaN,30.04,28.84,31.22,71.74,65.46,77.83,NaN,NaN
6094,mortality_life_expectancy,Zimbabwe,2013,ZI,NaN,NaN,NaN,39.91,34.92,44.76,...,54.83,NaN,27.36,26.05,28.65,66.18,60.06,72.13,NaN,NaN
6095,mortality_life_expectancy,Zimbabwe,2014,ZI,NaN,NaN,NaN,37.05,32.33,41.64,...,55.89,NaN,24.93,23.54,26.28,61.05,55.11,66.83,NaN,NaN
6096,mortality_life_expectancy,Zimbabwe,2015,ZI,NaN,NaN,NaN,34.39,29.93,38.73,...,56.89,NaN,22.7,21.27,24.11,56.31,50.56,61.91,NaN,NaN
6097,mortality_life_expectancy,Zimbabwe,2016,ZI,NaN,NaN,NaN,33.54,29.18,37.77,...,57.6,NaN,21.59,20.18,22.98,54.41,48.77,59.88,NaN,NaN

In [42]:
# Output reshaped census data
censusdf.to_csv("Census_reshaped.csv")

# Human Freedom Index

In [16]:
# File to Load (Remember to Change These)
freedom_index_csv = "freedom.csv"
freedom_df = pd.read_csv(freedom_index_csv)
# Limit columns
freedom_df = freedom_df[['year',
                         'countries',
                         'pf_rol_civil',
                         'pf_rol_criminal',
                         'pf_ss_homicide',
                         'pf_ss_disappearances_disap',
                         'pf_movement_women',
                         'pf_movement',
                         'pf_religion',
                         'pf_association_political',
                         'pf_expression_killed',
                         'pf_expression_jailed',
                         'pf_expression_influence',
                         'pf_expression',
                         'pf_identity_sex', 
                         'pf_identity_divorce',
                         'ef_legal_protection',
                         'ef_legal_military',
                         'ef_trade_movement',
                         'ef_regulation_credit_ownership']].copy()
freedom_df.set_index('year', inplace=True)
dfObj = freedom_df.sort_values(by =['countries', 'year']).reset_index()
freedom_df = pd.DataFrame(dfObj)
freedom_df

,year,countries,pf_rol_civil,pf_rol_criminal,pf_ss_homicide,pf_ss_disappearances_disap,pf_movement_women,pf_movement,pf_religion,pf_association_political,pf_expression_killed,pf_expression_jailed,pf_expression_influence,pf_expression,pf_identity_sex,pf_identity_divorce,ef_legal_protection,ef_legal_military,ef_trade_movement,ef_regulation_credit_ownership
0,2008,Albania,5.074785,4.100516,8.756539,10.0,10.0,10.000000,9.195000,NaN,10.000000,10.000000,4.666667,7.666667,10.0,NaN,3.717371,8.333333,2.109925,5.0
1,2009,Albania,5.074785,4.100516,8.852373,10.0,10.0,10.000000,9.791667,NaN,10.000000,10.000000,4.666667,7.666667,10.0,NaN,3.913393,8.333333,3.624133,5.0
2,2010,Albania,5.074785,4.100516,8.272417,10.0,10.0,10.000000,9.416667,NaN,10.000000,10.000000,4.666667,7.604167,10.0,NaN,4.046221,8.333333,3.675338,5.0
3,2011,Albania,5.074785,4.100516,8.059220,10.0,5.0,6.666667,9.135185,8.750000,10.000000,10.000000,4.666667,8.595238,10.0,NaN,3.561092,8.333333,3.423734,5.0
4,2012,Albania,4.900000,3.600000,7.849344,10.0,5.0,6.666667,9.305556,8.750000,10.000000,10.000000,5.000000,8.678571,10.0,NaN,3.075611,8.333333,3.216676,5.0
5,2013,Albania,4.900000,3.600000,8.300775,10.0,5.0,6.666667,9.114444,8.750000,10.000000,10.000000,5.000000,8.678571,10.0,5.0,2.955938,8.333333,5.897336,5.0
6,2014,Albania,5.041787,4.302964,8.397686,10.0,5.0,6.666667,9.855185,10.000000,10.000000,10.000000,5.000000,8.678571,10.0,5.0,3.413995,8.333333,6.208105,5.0
7,2015,Albania,4.802975,4.583263,9.096927,10.0,5.0,6.666667,9.235185,10.000000,10.000000,10.000000,5.000000,8.642857,10.0,5.0,4.228487,8.333333,6.155187,5.0
8,2016,Albania,4.547244,4.666508,8.920429,10.0,5.0,6.666667,9.192593,10.000000,10.000000,10.000000,5.000000,8.607143,10.0,5.0,4.512228,8.333333,6.406138,5.0
9,2008,Algeria,NaN,NaN,9.623645,10.0,5.0,5.000000,4.354074,4.166667,10.000000,10.000000,2.666667,6.702381,0.0,NaN,3.536542,5.000000,1.350171,0.0
10,2009,Algeria,NaN,NaN,9.687586,10.0,5.0,5.000000,4.367963,4.166667,10.000000,10.000000,2.666667,6.630952,0.0,NaN,4.291380,5.000000,1.763028,0.0
11,2010,Algeria,NaN,NaN,9.718697,10.0,5.0,5.000000,4.383704,4.166667,10.000000,10.000000,2.666667,6.702381,0.0,NaN,3.469971,5.000000,1.791064,0.0
12,2011,Algeria,NaN,NaN,9.695814,5.0,0.0,3.333333,4.934630,3.750000,10.000000,10.000000,2.666667,7.416667,0.0,NaN,2.564055,5.000000,1.598997,0.0
13,2012,Algeria,NaN,NaN,9.443111,5.0,0.0,3.333333,5.016111,3.750000,10.000000,10.000000,3.000000,7.464286,0.0,NaN,3.706941,5.000000,1.613343,0.0
14,2013,Algeria,NaN,NaN,9.499199,5.0,5.0,5.000000,5.176481,3.750000,10.000000,10.000000,3.333333,7.547619,0.0,0.0,4.537739,5.000000,1.633012,0.0
15,2014,Algeria,NaN,NaN,9.409920,10.0,5.0,5.000000,5.542037,5.000000,10.000000,9.744333,3.000000,7.427762,0.0,0.0,4.580197,4.166667,1.658987,0.0
16,2015,Algeria,NaN,NaN,9.456254,10.0,5.0,5.000000,5.322593,5.000000,10.000000,10.000000,2.666667,7.416667,0.0,0.0,4.388350,4.166667,1.489857,0.0
17,2016,Algeria,NaN,NaN,9.456254,10.0,5.0,5.000000,4.944815,5.000000,10.000000,10.000000,2.666667,7.380952,0.0,0.0,4.689952,4.166667,1.590362,0.0
18,2008,Angola,NaN,NaN,8.257535,5.0,10.0,3.333333,6.910556,1.250000,10.000000,10.000000,4.000000,7.880952,0.0,NaN,NaN,3.333333,0.384615,5.0
19,2009,Angola,NaN,NaN,8.257535,5.0,10.0,3.333333,7.380185,1.250000,10.000000,10.000000,4.000000,7.845238,0.0,NaN,3.113435,3.333333,1.488665,5.0
20,2010,Angola,NaN,NaN,8.257535,10.0,10.0,3.333333,6.809815,1.250000,1.441701,10.000000,4.000000,6.551195,0.0,NaN,2.853713,3.333333,2.503233,8.0
21,2011,Angola,NaN,NaN,8.257535,5.0,5.0,3.333333,7.023148,2.500000,10.000000,10.000000,3.666667,6.702381,0.0,NaN,2.853713,3.333333,2.503233,8.0
22,2012,Angola,NaN,NaN,8.060260,5.0,5.0,3.333333,6.837963,2.500000,10.000000,10.000000,3.666667,6.666667,0.0,NaN,2.941177,3.333333,1.908587,8.0
23,2013,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,6.760185,2.500000,10.000000,10.000000,3.666667,6.630952,0.0,10.0,2.512364,3.333333,1.788412,8.0
24,2014,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,9.455185,2.500000,10.000000,10.000000,3.666667,6.595238,0.0,10.0,2.512364,3.333333,1.788412,8.0
25,2015,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,8.757037,2.500000,10.000000,10.000000,3.333333,6.547619,0.0,10.0,2.512364,3.333333,2.044823,8.0
26,2016,Angola,NaN,NaN,8.060260,5.0,10.0,5.000000,8.786667,2.500000,10.000000,10.000000,2.666667,6.452381,0.0,10.0,2.512364,3.333333,2.044823,8.0
27,2008,Argentina,5.366584,4.343652,6.996849,10.0,10.0,10.000000,8.857407,8.333333,10.000000,10.000000,5.666667,8.630952,10.0,NaN,3.194203,7.500000,4.552939,5.0
28,2009,Argentina,5.366584,4.343652,6.996849,10.0,10.0,10.000000,8.709630,8.333333,10.000000,10.000000,5.666667,8.630952,10.0,NaN,2.754380,7.500000,3.816333,5.0
29,2010,Argentina,5.366584,4.343652,6.996849,10.0,10.0,10.000000,9.138519,8.333333,7.574222,10.000000,6.000000,8.260603,10.0,NaN,2.921977,7.500000,3.592951,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1428,2014,Vietnam,4.576318,4.970094,9.392643,5.0,5.0,3.333333,5.881481,0.000000,10.000000,4.794781,0.000000,5.184969,10.0,10.0,4.849590,5.000000,2.665282,NaN
1429,2015,Vietnam,4.667068,5.037917,9.392643,5.0,5.0,3.333333,5.703704,0.000000,10.000000,9.358780,0.000000,5.872683,10.0,10.0,4.959259,5.000000,2.306590,NaN
1430,2016,Vietnam,4.448922,4.911257,9.392643,5.0,5.0,3.333333,5.895926,0.000000,10.000000,9.154057,0.000000,5.843437,10.0,10.0,4.993180,5.000000,2.239655,NaN
1431,2008,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1432,2009,"Yemen, Rep.",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1433,2010,"Yemen, Rep.",NaN,NaN,8.137823,5.0,5.0,3.333333,5.833333,7.083333,5.763929,9.576393,1.000000,5.441475,0.0,NaN,3.874178,6.666667,3.514609,NaN
1434,2011,"Yemen, Rep.",NaN,NaN,7.732165,0.0,0.0,1.666667,NaN,NaN,0.000000,9.175333,1.000000,2.981333,0.0,NaN,3.864252,5.000000,3.565054,NaN
1435,2012,"Yemen, Rep.",NaN,NaN,7.405055,0.0,0.0,1.666667,NaN,NaN,10.000000,9.598554,1.666667,5.878805,0.0,NaN,3.715117,5.000000,3.550799,NaN
1436,2013,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,1.666667,NaN,NaN,10.000000,10.000000,2.000000,6.187500,0.0,0.0,3.471400,5.830000,3.777667,NaN
1437,2014,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,0.000000,NaN,NaN,2.379886,10.000000,2.000000,4.157472,0.0,0.0,6.498809,5.833000,3.772903,NaN
1438,2015,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,0.000000,NaN,NaN,0.000000,10.000000,1.333333,3.208333,0.0,0.0,3.352264,4.166667,3.601606,NaN
1439,2016,"Yemen, Rep.",NaN,NaN,7.336599,0.0,0.0,0.000000,NaN,NaN,0.000000,10.000000,1.333333,3.083333,0.0,0.0,3.252801,4.166667,3.493863,NaN
1440,2008,Zambia,4.578003,3.688652,7.878084,10.0,10.0,8.333333,7.714815,4.166667,10.000000,10.000000,3.333333,7.202381,5.0,NaN,5.775199,8.333333,6.795788,5.0
1441,2009,Zambia,4.578003,3.688652,7.586282,10.0,10.0,8.333333,7.558148,4.166667,10.000000,10.000000,3.666667,7.250000,5.0,NaN,5.238373,8.333333,6.579947,5.0
1442,2010,Zambia,4.578003,3.688652,7.649103,10.0,10.0,8.333333,7.205926,4.166667,10.000000,10.000000,3.666667,7.321429,5.0,NaN,5.229566,8.333333,6.772492,5.0
1443,2011,Zambia,4.578003,3.688652,7.580050,10.0,5.0,6.666667,7.711481,7.500000,10.000000,10.000000,3.666667,7.238095,5.0,NaN,5.781742,8.333333,6.649146,5.0
1444,2012,Zambia,4.700000,3.500000,7.591826,10.0,5.0,6.666667,7.909630,7.500000,10.000000,10.000000,4.333333,7.261905,5.0,NaN,6.092469,8.333333,6.587254,5.0
1445,2013,Zambia,4.700000,3.500000,7.711376,10.0,5.0,6.666667,7.744444,7.500000,10.000000,10.000000,4.000000,7.214286,5.0,NaN,6.023462,8.333333,8.731760,5.0
1446,2014,Zambia,4.702030,3.770361,7.887456,10.0,5.0,5.000000,7.690278,NaN,10.000000,10.000000,4.000000,6.937500,0.0,NaN,5.916442,8.333000,9.003175,5.0
1447,2015,Zambia,5.017151,4.158967,7.880823,10.0,5.0,5.000000,7.858333,NaN,10.000000,10.000000,3.666667,6.979167,0.0,NaN,5.798246,8.333333,8.831994,5.0
1448,2016,Zambia,4.891213,4.154905,7.880823,10.0,5.0,5.000000,7.332778,NaN,10.000000,9.397278,3.666667,6.765986,0.0,NaN,5.597120,8.333333,8.707999,5.0
1449,2008,Zimbabwe,3.991582,4.327660,7.981019,0.0,5.0,1.666667,8.214074,2.500000,10.000000,10.000000,0.333333,6.047619,5.0,NaN,1.702773,3.333333,2.175323,8.0
1450,2009,Zimbabwe,3.991582,4.327660,7.981019,0.0,5.0,1.666667,8.341111,2.500000,10.000000,10.000000,1.000000,6.214286,5.0,NaN,1.950982,3.333333,2.687574,8.0
1451,2010,Zimbabwe,3.991582,4.327660,7.981019,0.0,5.0,1.666667,8.042963,2.500000,10.000000,10.000000,1.666667,6.345238,5.0,NaN,2.243496,3.333333,2.458793,8.0
1452,2011,Zimbabwe,3.991582,4.327660,7.332577,5.0,5.0,1.666667,6.735185,2.500000,10.000000,10.000000,1.666667,6.702381,5.0,NaN,2.671381,3.333333,2.375063,8.0
1453,2012,Zimbabwe,4.000000,3.600000,7.332577,5.0,5.0,1.666667,7.061111,2.500000,10.000000,10.000000,1.666667,6.809524,5.0,NaN,2.744480,3.333333,2.302849,8.0
1454,2013,Zimbabwe,4.000000,3.600000,7.332577,5.0,10.0,3.333333,6.980556,2.500000,10.000000,10.000000,2.000000,6.892857,5.0,NaN,2.284086,3.333333,4.087193,8.0
1455,2014,Zimbabwe,4.519194,3.612896,7.332577,5.0,10.0,5.000000,6.288704,2.500000,10.000000,10.000000,2.333333,6.816667,5.0,NaN,2.329075,3.333000,4.081018,8.0
1456,2015,Zimbabwe,4.591776,3.616783,7.332577,5.0,10.0,5.000000,6.376296,2.500000,10.000000,10.000000,2.000000,6.650000,5.0,NaN,2.636667,3.333333,4.114318,8.0
1457,2016,Zimbabwe,4.334427,3.756227,7.332577,5.0,10.0,5.000000,6.427778,2.500000,10.000000,10.000000,2.000000,6.650000,5.0,NaN,2.568250,3.333333,4.118612,8.0