# kaggle Data Sets

Combining public country statistics from th US Census Bureau with the Human Freedom Index

### United States International Census (Google BigQuery)

* kaggle https://www.kaggle.com/census/census-bureau-international/metadata
* BigQuery https://console.cloud.google.com/bigquery?filter=solution-type:dataset&q=census&id=5d64defd-b1cf-40e6-ae6b-fd3558e15d00&subtask=details&subtaskValue=united-states-census-bureau%2Finternational-census-data&project=bootcamp-1569375678077&folder&organizationId&subtaskIndex=3

### Human Freedom Index (csv)
* kaggle https://www.kaggle.com/gsutters/the-human-freedom-index

ETL Repository https://github.com/Jmaddalena42/ETL_Project

## Obtain Census Dataset

BigQuery Public Datasets https://cloud.google.com/bigquery/public-data/

### Enable Google Cloud services

Google Cloud Python Service Quick Start https://cloud.google.com/bigquery/docs/quickstarts/quickstart-client-libraries#client-libraries-install-python

### Install Dependencies

$ pip install google.cloud

$ pip install --upgrade google-cloud-bigquery

$ pip install --upgrade google-cloud-storage

### Get Service Account API Credentials

Download Service Account Key

https://console.cloud.google.com/apis/credentials?project=bootcamp-1569375678077&folder&organizationId

Enable BigQuery API

https://console.developers.google.com/apis/api/bigquery-json.googleapis.com/overview?project=bootcamp-1569375678077

### Enable Google Credentials for every session

GOOGLE_APPLICATION_CREDENTIALS must be set:

https://console.cloud.google.com/home/dashboard?cloudshell=true&_ga=2.36182944.-145041138.1573320821&pli=1&project=bootcamp-1569375678077&folder&organizationId

### Get Data from BigQuery

kaggle Reference for BigQuery API

https://www.kaggle.com/sohier/beyond-queries-exploring-the-bigquery-api

In [1]:
# Constants

# Google service credentials file
service_account_json = "C:/Users/janin/OneDrive/Documents/GitHub/Bootcamp-7917e2b029b4.json"
# BigQueryPublic data file
PROJECT_ID = 'bigquery-public-data' # All BigQuery public datasets use this project ID
dataset = 'census_bureau_international' # Name of the dataset we're interested in

In [2]:
# Dependencies to be able to get data from Google BigQuery
from google.cloud import bigquery
bigquery_client = bigquery.Client(project=PROJECT_ID)
print(bigquery_client)
from google.cloud import storage
storage_client = storage.Client(project=PROJECT_ID)
print(storage_client)

<google.cloud.bigquery.client.Client object at 0x000002CB754ED780>
<google.cloud.storage.client.Client object at 0x000002CB754ED940>

In [3]:
# Get dataset reference
census_dataset_ref = bigquery_client.dataset(dataset, project=PROJECT_ID)
census_dataset_ref

DatasetReference('bigquery-public-data', 'census_bureau_international')

In [4]:
# Get dataset
census_dset = bigquery_client.get_dataset(census_dataset_ref)
census_dset

Dataset(DatasetReference('bigquery-public-data', 'census_bureau_international'))

To resolve  403 error, enabled BigQuery API at https://console.developers.google.com/apis/library/bigquery-json.googleapis.com?project=bootcamp-1569375678077&pli=1.

Example error:

Forbidden: 403 GET https://bigquery.googleapis.com/bigquery/v2/projects/bigquery-public-data/datasets/census_bureau_international: BigQuery API has not been used in project 488912422205 before or it is disabled. Enable it by visiting https://console.developers.google.com/apis/api/bigquery-json.googleapis.com/overview?project=488912422205 then retry. If you enabled this API recently, wait a few minutes for the action to propagate to our systems and retry.

In [5]:
# List tables in the dataset
print("Tables:")
tables = []
for table in bigquery_client.list_tables(census_dset):
    table_id = table.table_id
    if len(table_id)>0:
        tables.append(table_id)
        print(table_id)

Tables:
age_specific_fertility_rates
birth_death_growth_rates
country_names_area
midyear_population
midyear_population_5yr_age_sex
midyear_population_age_sex
midyear_population_agespecific
mortality_life_expectancy

In [7]:
desired_tables  = ['birth_death_growth_rates',
                  'country_names_area',
                  'midyear_population',
                  'mortality_life_expectancy']
print('Tables:')
census_tables = []
for table in desired_tables:
    census_table = bigquery_client.get_table(census_dset.table(table))
    print(census_table.table_id)
    census_tables.append(census_table)
print()
print("Table Commands:")
census_commands = [command for command in dir(census_tables[0]) if not command.startswith('_')]
print(census_commands)
print()
print("Schema Commands:")
schema_commands = [command for command in dir(census_tables[0].schema[0]) if not command.startswith('_')]
print(schema_commands)

Tables:
birth_death_growth_rates
country_names_area
midyear_population
mortality_life_expectancy

Table Commands:
['clustering_fields', 'created', 'dataset_id', 'description', 'encryption_configuration', 'etag', 'expires', 'external_data_configuration', 'friendly_name', 'from_api_repr', 'from_string', 'full_table_id', 'labels', 'location', 'modified', 'num_bytes', 'num_rows', 'partition_expiration', 'partitioning_type', 'path', 'project', 'reference', 'require_partition_filter', 'schema', 'self_link', 'streaming_buffer', 'table_id', 'table_type', 'time_partitioning', 'to_api_repr', 'to_bqstorage', 'view_query', 'view_use_legacy_sql']

Schema Commands:
['description', 'field_type', 'fields', 'from_api_repr', 'is_nullable', 'mode', 'name', 'to_api_repr', 'to_standard_sql']

In [9]:
print('Schemas')
for census_table in census_tables:
    print()
    print('__________________________________________________________________________________________________')
    print(f"Table: {census_table.table_id}")
    print('__________________________________________________________________________________________________')
    for schema_field in census_table.schema:
        print(f"{schema_field.name} {schema_field.field_type} {schema_field.description}")

Schemas

__________________________________________________________________________________________________
Table: birth_death_growth_rates
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
crude_birth_rate FLOAT Crude birth rate (births per 1,000 population)
crude_death_rate FLOAT Crude death rate (deaths per 1,000 population)
net_migration FLOAT Net migration rate (net number of migrants per 1,000 population)
rate_natural_increase FLOAT Rate of natural increase (percent)
growth_rate FLOAT Growth rate (percent)

__________________________________________________________________________________________________
Table: country_names_area
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
country_area FLOAT Area in square kilometers

__________________________________________________________________________________________________
Table: midyear_population
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
midyear_population INTEGER Both sexes midyear population

__________________________________________________________________________________________________
Table: mortality_life_expectancy
__________________________________________________________________________________________________
country_code STRING Federal Information Processing Standard (FIPS) country/area code
country_name STRING Country or area name
year INTEGER Year
infant_mortality FLOAT Both sexes infant mortality rate (infant deaths per 1,000 population)
infant_mortality_male FLOAT Male infant mortality rate (infant deaths per 1,000 population)
infant_mortality_female FLOAT Female infant mortality rate (infant deaths per 1,000 population)
life_expectancy FLOAT Both sexes life expectancy at birth (years)
life_expectancy_male FLOAT Male life expectancy at birth (years)
life_expectancy_female FLOAT Female life expectancy at birth (years)
mortality_rate_under5 FLOAT Both sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_under5_male FLOAT Male sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_under5_female FLOAT Female sexes under-5 mortality rate (probability of dying between ages 0 and 5)
mortality_rate_1to4 FLOAT Both sexes child mortality rate (probability of dying between ages 1 and 4)
mortality_rate_1to4_male FLOAT Male sexes child mortality rate (probability of dying between ages 1 and 4)
mortality_rate_1to4_female FLOAT Female sexes child mortality rate (probability of dying between ages 1 and 4)

In [34]:
# Get data for 2008 to 2016
table_ids = []
countries = []
years = []
columns = []
results = []
for census_table in census_tables:
    schema_cols = [col for col in census_table.schema]
    table_id = census_table.table_id
    for row in bigquery_client.list_rows(census_table, start_index=100, selected_fields=schema_cols):
        row_values = dict(row)
        if "year" in row_values.keys():
            year = row_values["year"]
            country = row_values["country_name"]
            if year>=2008 and year<=2016:
                for col in schema_cols:
                    column = col.name
                    if (column!="year") and (column!="country_name"):
                        table_ids.append(table_id)
                        countries.append(country)
                        years.append(year)
                        columns.append(column)
                        result = row[column]
                        results.append(result)

In [54]:
# Add lists to DataFrame
import pandas as pd
censusdf = pd.DataFrame()
censusdf["Table"] = table_ids
censusdf["Country"] = countries
censusdf["Year"] = years
censusdf["Column"] = columns
censusdf["Value"] = results
censusdf.to_csv("Census_Raw_Data.csv")
#censusdf.set_index(['Table','Country','Year'],inplace=True)
censusdf

,Table,Country,Year,Column,Value
0,birth_death_growth_rates,Fiji,2008,country_code,FJ
1,birth_death_growth_rates,Fiji,2008,crude_birth_rate,23.04
2,birth_death_growth_rates,Fiji,2008,crude_death_rate,5.86
3,birth_death_growth_rates,Fiji,2008,net_migration,-7.66
4,birth_death_growth_rates,Fiji,2008,rate_natural_increase,1.718
5,birth_death_growth_rates,Fiji,2008,growth_rate,0.952
6,birth_death_growth_rates,Fiji,2009,country_code,FJ
7,birth_death_growth_rates,Fiji,2009,crude_birth_rate,22.28
8,birth_death_growth_rates,Fiji,2009,crude_death_rate,5.86
9,birth_death_growth_rates,Fiji,2009,net_migration,-7.51
10,birth_death_growth_rates,Fiji,2009,rate_natural_increase,1.642
11,birth_death_growth_rates,Fiji,2009,growth_rate,0.89
12,birth_death_growth_rates,Fiji,2010,country_code,FJ
13,birth_death_growth_rates,Fiji,2010,crude_birth_rate,21.52
14,birth_death_growth_rates,Fiji,2010,crude_death_rate,5.88
15,birth_death_growth_rates,Fiji,2010,net_migration,-7.37
16,birth_death_growth_rates,Fiji,2010,rate_natural_increase,1.564
17,birth_death_growth_rates,Fiji,2010,growth_rate,0.827
18,birth_death_growth_rates,Fiji,2011,country_code,FJ
19,birth_death_growth_rates,Fiji,2011,crude_birth_rate,21.11
20,birth_death_growth_rates,Fiji,2011,crude_death_rate,5.9
21,birth_death_growth_rates,Fiji,2011,net_migration,-7.24
22,birth_death_growth_rates,Fiji,2011,rate_natural_increase,1.521
23,birth_death_growth_rates,Fiji,2011,growth_rate,0.798
24,birth_death_growth_rates,Fiji,2012,country_code,FJ
25,birth_death_growth_rates,Fiji,2012,crude_birth_rate,20.7
26,birth_death_growth_rates,Fiji,2012,crude_death_rate,5.93
27,birth_death_growth_rates,Fiji,2012,net_migration,-7.11
28,birth_death_growth_rates,Fiji,2012,rate_natural_increase,1.477
29,birth_death_growth_rates,Fiji,2012,growth_rate,0.766
...,...,...,...,...,...
42568,mortality_life_expectancy,Zimbabwe,2014,mortality_rate_under5_female,55.11
42569,mortality_life_expectancy,Zimbabwe,2014,mortality_rate_1to4,24.93
42570,mortality_life_expectancy,Zimbabwe,2014,mortality_rate_1to4_male,26.28
42571,mortality_life_expectancy,Zimbabwe,2014,mortality_rate_1to4_female,23.54
42572,mortality_life_expectancy,Zimbabwe,2015,country_code,ZI
42573,mortality_life_expectancy,Zimbabwe,2015,infant_mortality,34.39
42574,mortality_life_expectancy,Zimbabwe,2015,infant_mortality_male,38.73
42575,mortality_life_expectancy,Zimbabwe,2015,infant_mortality_female,29.93
42576,mortality_life_expectancy,Zimbabwe,2015,life_expectancy,58.95
42577,mortality_life_expectancy,Zimbabwe,2015,life_expectancy_male,56.89
42578,mortality_life_expectancy,Zimbabwe,2015,life_expectancy_female,61.07
42579,mortality_life_expectancy,Zimbabwe,2015,mortality_rate_under5,56.31
42580,mortality_life_expectancy,Zimbabwe,2015,mortality_rate_under5_male,61.91
42581,mortality_life_expectancy,Zimbabwe,2015,mortality_rate_under5_female,50.56
42582,mortality_life_expectancy,Zimbabwe,2015,mortality_rate_1to4,22.7
42583,mortality_life_expectancy,Zimbabwe,2015,mortality_rate_1to4_male,24.11
42584,mortality_life_expectancy,Zimbabwe,2015,mortality_rate_1to4_female,21.27
42585,mortality_life_expectancy,Zimbabwe,2016,country_code,ZI
42586,mortality_life_expectancy,Zimbabwe,2016,infant_mortality,33.54
42587,mortality_life_expectancy,Zimbabwe,2016,infant_mortality_male,37.77
42588,mortality_life_expectancy,Zimbabwe,2016,infant_mortality_female,29.18
42589,mortality_life_expectancy,Zimbabwe,2016,life_expectancy,59.67
42590,mortality_life_expectancy,Zimbabwe,2016,life_expectancy_male,57.6
42591,mortality_life_expectancy,Zimbabwe,2016,life_expectancy_female,61.81
42592,mortality_life_expectancy,Zimbabwe,2016,mortality_rate_under5,54.41
42593,mortality_life_expectancy,Zimbabwe,2016,mortality_rate_under5_male,59.88
42594,mortality_life_expectancy,Zimbabwe,2016,mortality_rate_under5_female,48.77
42595,mortality_life_expectancy,Zimbabwe,2016,mortality_rate_1to4,21.59
42596,mortality_life_expectancy,Zimbabwe,2016,mortality_rate_1to4_male,22.98
42597,mortality_life_expectancy,Zimbabwe,2016,mortality_rate_1to4_female,20.18

In [52]:
census_pivot = pd.DataFrame()
tables = []
countries = []
years = []

KeyError: 'Level Table not found'

In [38]:
dfs = []
for table in desired_tables:
    single_table = censusdf.loc[censusdf["Table"]==table].copy()
    print(single_table.head())
    pivot_table = pd.pivot(single_table,values='Value',index=['Table','Country','Year'],columns='Column').reset_index()
    print(pivot_table.head())
    dfs.append(pivot_table)

                      Table Country  Year                 Column  Value
0  birth_death_growth_rates    Fiji  2008           country_code     FJ
1  birth_death_growth_rates    Fiji  2008       crude_birth_rate  23.04
2  birth_death_growth_rates    Fiji  2008       crude_death_rate   5.86
3  birth_death_growth_rates    Fiji  2008          net_migration  -7.66
4  birth_death_growth_rates    Fiji  2008  rate_natural_increase  1.718

ValueError: Length of passed values is 12174, index implies 3